 ------
 Usage
 ------
 Marcel May
 ------
 
Using the Maven Crypto Plugin

  The first step is configuring Maven with the repository containing the plugin.
  Add the <pluginRepository> entry either to your {{{http://maven.apache.org/ref/3.0.3/maven-model/maven.html#class_pluginRepository}pom.xml}} or global {{{http://maven.apache.org/ref/3.0.3/maven-settings/settings.html#class_pluginRepository}settings.xml}}.

---
<pluginRepository>
  <id>consol-labs-release</id>
  <url>http://labs.consol.de/maven/repository/</url>
  <snapshots>
    <enabled>false</enabled>
  </snapshots>
  <releases>
    <enabled>true</enabled>
  </releases>
</pluginRepository>
---

   In the next step we'll add the plugin to the POM and configure it to encrypt a file <foo.jar>.

---
<build>
  ...
  <plugins>
    <plugin>
      <groupId>net.metacube.maven</groupId>
      <artifactId>crypto-maven-plugin</artifactId>
      <version>${project.version}</version>
      <configuration>
        <fileSets>
          <fileSet>
            <directory>src/test/example</directory>
            <includes>
              <include>foo.jar</include>
            </includes>
          </fileSet>
        </fileSets>
        <cipherOptions>
          <operationMode>encrypt</operationMode>
          <algorithm>AES</algorithm>
          <algorithmMode>CBC</algorithmMode>
          <algorithmPadding>PKCS5Padding</algorithmPadding>
          <secret>my secret</secret>
          <keyDigest>MD5</keyDigest>
        </cipherOptions>
      </configuration>
    </plugin>
  </plugins>
  ...
</build>
---

  Now you can invoke the plugin using <mvn crypto:crypto> :

[crypto-goal.png] Example invocation of crypto goal

  For usage details see the {{{./crypto-mojo.html} crypto goal}} description.

